

h1, h2 {
text-align:  center;
color: blue;    

}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

.content {
    flex: 1 0 auto;
}

.menu {
  background-color: rgb(61, 116, 138);
  height: auto;
 
}
  
.user-form-container{
  display: block;
  background-color: rgba(190, 190, 190, 0.274);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.9rem;
  padding: 0.5rem;
}  

.user-form-label{
    display:block;
    width: 20%;
    margin: 1rem 2rem;

} 
.user-form-input{
    display:block;
    width: 400%;
    margin-left: 3rem;
    margin-right: auto;
}
.user-form-error{
  color: white;  
  font-weight: 700;
  margin-left: 3rem;
  width:400%;
  padding-left:1rem;
  border-radius: 4px;

}
.user-form-error:nth-child(1){
  background: rgba(255, 0, 0, 0.842);  
}


.btn-user-form-submit{
  margin:  0 1rem auto 25rem;
}

.btn-user-form-cancel{
  margin: 0 auto auto 1rem;
}


.footer {
  flex-shrink: 0;
  margin-top: 1rem;
  background-color: rgb(61, 116, 138);
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 1.0rem;
  text-align: left;
  padding: 0 0 0 2rem;
  z-index:   1;
}