.btn {
  text-rendering: auto;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font: 300 Arial;
  padding: 5px 15px;
  border-radius: 3px;
  width: 6rem;
  height: 1.8rem;
  font-size: 13px;
  margin: 0.5rem;
  background-color: rgb(243, 243, 243);
  border: 2px solid rgba(17, 0, 255, 0.308);
  color: black
}
.btn:hover {
  background-color: rgba(135, 206, 250, 0.11);
  border: 1px solid rgba(127, 3, 243, 0.26);
}

.btn-small {
  width:4rem;
  margin: 0 0;
  height: 1.4rem;
  font-size:12px;
  padding: 0 0;

}
.btns{
  display: block;
  margin: 0 35rem;
}
