.container{
  width: 66.66%;
  /* Para centralizar o conteudo do display block */
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.247);
}

.item{
  margin: 0.2;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  line-height: 2rem;
}

.div-btn{
  width: 50%;
  margin: 0.5rem auto 0 auto;
}

label {
  width: 10rem;
  font-weight: 700;
}

.lbl-erro{
  border:none;
  width: 40rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 0.5rem 16rem;
  color:red;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.308);
  border-radius: 4px;
  width: 35rem;
  height: 1.8rem;
  font-size: 1rem;
  padding-left: 1rem;

}

input:focus {
  border: 2px solid black;
  border-radius: 4px;
  background-color: yellow;
}

h1{
  margin: 0 0  0.3rem 0;
}

/* input[focus] {
  border: 2px solid re  d;
  border-radius: 4px;
} */