
table {
  position:absolute;
  top:6.5rem;
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(179, 174, 174, 0.158);
}

th{
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.5rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.233);
}
td{
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
  text-align: left;
  font-size:  0.9rem;
  height: 1.8rem;
}

.td-center{
  text-align: center;
}

.tb-main tr:nth-child(even){
    background-color: #eee;
}
.tb-main tr:nth-child(odd){
    background-color: #fff;
}
.input-search{
  position:absolute;
  left: 3rem;
  top: 3.5rem;
  width: 20rem;
  height: 2rem;
  border: 0.12rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
}
.btn-search{
  position: absolute;
  left: 24.5rem;
  top: 3.23rem;
}

.place-right{
  position: absolute;
  top: 3.23rem;
  right: 4.5rem;
  margin-left: 20rem;
}
