
table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(179, 174, 174, 0.158);
}

th{
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.5rem;
  text-align: center;
}
td{
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0.5rem;
  text-align: left;
  line-height: 1.5rem;
  font-size:  0.9rem;
}

.td-center{
  text-align: center;
}

.tb-main tr:nth-child(even){
    background-color: #eee;
}
.tb-main tr:nth-child(odd){
    background-color: #fff;
}
.input-search{
  width: 20rem;
  height: 2rem;
  border: 0.12rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
}
